.hero-hello {
    padding-top: 4rem;
}

.hero-avatar {
    margin-top: 4rem;
    margin-left: 2rem;
    width: 25vw;
    height: 25vw;
    max-width: 400px;
    border-radius: 10px;
}

.hero-identity {
    font-size: 2rem;
}