.plini {
    width: 30vw;
    max-width: 300px;
}

.erra {
    width: 50vw;
    max-height: 500px;
}

.guthrie-govan {
    width: 30vw;
    max-width: 200px;
}

.attack-on-titan {
    width: 30vw;
}

.fight-club {
    width: 30vw;
}

.blade-runner-2049 {
    width: 30vw;
}